---
import * as kazFileParserReadme from "@whitebird/kaz-file-parser/README.md";
---

<div class="h-full min-w-0 max-w-full p-4 after:content-[''] after:block after:h-[1px]">
  <Fragment set:html={kazFileParserReadme.compiledContent()}/>
</div>
